body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('bg1.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.gradient-text {
    background: linear-gradient(to right, red, blue ); /* Gradient color */
    -webkit-background-clip: text; /* Apply the gradient to the text */
    color: transparent; /* Make the original text transparent */
    display: inline-block; /* Prevent line break within the text */
}


header {
    background-color: transparent;
    padding: 20px 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px; /* Adjust margin as needed */
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white; /* Text color in the navbar */
    text-decoration: none; /* Remove underlines */
}


.signup-section {
    text-align: center;
    color: #fff;
    margin-top: 5%;
}

.signup-section h1 {
    font-size: 2em;
}

.signup-form {
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 400px;
    margin: 0 auto;
}

.signup-form label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

.signup-form input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

.signup-form .submit-button {
    background-color: #186A3B;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
}

.signup-form .submit-button:hover {
    background-color: #790B0B;
}

.signup-section p {
    margin-top: 20px;
}
