body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

header {
    background-color: transparent;
    padding: 20px 0;
}

h1 {
    display: table; /* keep the background color wrapped tight */
    margin: 0px auto 0px auto; /* keep the table centered */
    padding:10px;
    font-size:20px;
    color:#ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px; /* Adjust margin as needed */
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white; /* Text color in the navbar */
    text-decoration: none; /* Remove underlines */
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333; /* Dark background color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #fff; /* Text color */
}

.dropdown-content a {
    color: #fff; /* Text color for links */
    text-decoration: none; /* Remove underlines */
    padding: 10px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555; /* Hover background color */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.welcome-section {
    text-align: center;
    color: #fff;
    padding: 30px;
    margin-top: 12%;
}

.welcome-section h1 {
    font-size: 3em;
}

.welcome-section p {
    font-size: 1.2em;
}


.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}
h1, h2 , h3{
    color: #b51d43;
}
p {
    color: #000000;
}
.report-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.report-section h2 {
    margin-top: 0;
}
