<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/about.css">
    <title>Disease Detection - About</title>
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <div class="logo">
                    <img src="../images/logo.png" alt="Logo">
                </div>
                <div class="navbar">
                    <ul>
                        <li><a href="PAGE1.html">Home</a></li>
                        <li class="dropdown">
                            <a href="#">Diseases</a>
                            <div class="dropdown-content">
                                <a href="DiabetesPAGE.html">Diabetes</a>
                                <a href="KidneyPAGE.html">Kidney</a>
                                <a href="HeartPAGE.html">Heart Disease</a>
                                <a href="MalariaPAGE.html">Malaria</a>
                                <a href="PneumoniaPAGE.html">Pneumonia</a>
                                <a href="BreastPAGE.html">Breast Cancer</a>
                                <a href="LiverPAGE.html">Liver Disease</a>
                            </div>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="profile.html">Account</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="about-section">
            <h1>About Progno</h1>
            <p>Progno is an advanced multi-disease detection system powered by state-of-the-art machine learning models. Our platform is dedicated to providing accurate predictions for a wide range of diseases, including breast cancer, liver disease, kidney disease, diabetes, pneumonia, malaria, and heart disease.</p>
            <p>Utilizing a combination of sophisticated algorithms and extensive medical data, Progno offers users reliable and timely diagnosis, enabling early detection and intervention.</p>
            <p>At Progno, we understand the importance of precision and efficiency in healthcare. That's why our team of experts continuously refines and updates our machine learning models to ensure the highest level of accuracy in disease prediction.</p>
            <p>Whether you're a healthcare professional or an individual concerned about your well-being, Progno provides a user-friendly interface for accessing comprehensive disease analysis and personalized recommendations.</p>
            <p>Join us in our mission to revolutionize healthcare through technology and make proactive disease management accessible to all.</p>
        </section>
    </div>
</body>
</html>
