<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/Signupcss.css">
    <title>Login- Disease Detection</title>

    
    
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div class="logo">
                    <img src="../images/logo.png" alt="Logo">
                </div>
                <div class="navbar">
                    <ul>
                        <li><a href="PAGE2.html">Home</a></li>
                        <li><a href="Login.html">Login</a></li>
                        <li><a href="Signup.html">SignUp</a></li>
                        <li><a href="About.html">About</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="signup-section">
            <h1>Login to <span class="gradient-text">Progno</span> </h1>
            <form class="signup-form">
                <!-- <label for="username">Username:</label>
                <input type="text" id="username" placeholder="Enter your username" name="username" required> -->

                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Enter your email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Enter your password" name="password" required>

                <button type="submit" id="login-btn" class="submit-button">Login</button>
            </form>
            <p>Dont't have an account? <a href="Signup.html">Join here</a>.</p>
        </section>
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
    <!-- Below is the additional script for Firebase Auth -->
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-auth.js"></script>

    <script src="/Progno-Multiple-disease-predictor/frontend/pages/firebase.js"></script>
    <script>
        const firebaseConfig = {
  apiKey: "AIzaSyCmRmbdb0J0ZmkrYJX9Q2VzWNoGdo77sho",
  authDomain: "progno-app.firebaseapp.com",
  projectId: "progno-app",
  storageBucket: "progno-app.appspot.com",
  messagingSenderId: "280979417527",
  appId: "1:280979417527:web:ce04312654f05b52eea032"
};
firebase.initializeApp(firebaseConfig);

const auth = firebase.auth();
      
        
    </script>
    <script src="index.js"></script>
</body>

</html>