<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Signupcss.css') }}">
    <title>Sign Up - Disease Detection</title>
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <div class="logo">
                    <img src="static/css/images/logo.png" alt="Logo">
                </div>
                <div class="navbar">
                    <ul>
                        <li><a href="/PAGE2">Home</a></li>
                        <li><a href="/Login">Login</a></li>
                        <li><a href="/Signup">SignUp</a></li>
                        <li><a href="/About">About</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section class="signup-section">
            <h1>Join <span class="gradient-text">Progno</span> and get started!</h1>
            <form class="signup-form">
                <label for="username">Username:</label>
                <input type="text" id="username" placeholder="Enter your username" name="username" required>

                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Enter your email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Enter your password" name="password" required>

                <button type="submit" class="submit-button">Sign Up</button>
            </form>
            <p>Already have an account? <a href="/Login">Login here</a>.</p>
        </section>
    </div>
</body>
</html>
